.hulu_logo_img img{
    max-width: 250px;
}

.month_free {
    font-family: 'Graphik', Helvetica, Arial, sans-serif;
    color: #00ED82;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 13px;
    padding-bottom: 8px;
}
.watch_1000 {
    font-size:22px;
}
.bg_dark_blue {
    background-color: #0F4759;
    height: 120px;
}

.bg_dark_blue img {
    max-width: 355px;
    margin-left: 200px;
}

#black_section {
    background-color: black;
    height: 900px;
    width: auto;
}

/* .hulu_square img {
    max-width: 300px;
    max-height: 480px;
} */

.all_the_tv_you_love {
    font-size: 72px;
    font-weight: bold;
    line-height: 80px;
}

.all_plans_included {
    color: #00ED82;
    font-family: 'Graphik', Helvetica, Arial, sans-serif;
    letter-spacing: 1.4px;
}

#start_free_trial_button:hover {
    opacity: 80%;
}

.get_hulu_text {
    font-size: 24px;
    line-height:32px;
    color : #fff;
}

.all_the_tv_you_love {
    font-family: 'Graphik', Helvetica, Arial, sans-serif;
    color : #FCFCFC;
    font-size: 800;
}

.stream-full {
    color: #FFF;
    font-size: 24px;
}

#white-section {
    background-color: cornsilk;
    height: 800px;
}
.nav-select-your-plan {
    font-size: 28px;
    font-weight :bolder;
    letter-spacing: -0.5px;
    font-family: 'Graphik';
}

.most-popular {
    font-family: 'Graphik';
    max-width: 120px;
    height: 30px;
    font-size: 10px;
    padding: 8px 2px;
    letter-spacing: 1.1px;
}

.hulu-tariff-title {
    font-family: 'Graphik';
    font-size: 28px;
    font-weight: 500;
}

.trial-period {
    color: #888;
    text-transform: uppercase;
    font-family: 'Graphik';
    font-weight: 600;
    font-size: ;
}